section{
    background-color: black;
} 
.titulo{
    height: 100px;
    text-align: center;
    p{  
        margin-top: 25px;
        color: white;
        font-size: 30px;
    }
}
.loginImage{
    margin-top: 40px;
    img{
        border-radius: 20%;
        box-shadow: red;
        box-shadow: 0 0 30px rgba(238, 8, 8, 0.909);
    }
}
input:hover {
    box-shadow: 0 0 25px rgba(238, 8, 8, 0.909);
}